<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lestarch.enclock" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EncLock</name>
    <description>
        A simple application that preforms decryption after a set ammount of time. Currently, it is not secure, but adds resisetnece
        to the path of quickest decryption.
    </description>
    <author email="lestarch@googlemail.com" href="http://cordova.io">
        M Starch
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="res/icon.png" />
    <platform name="android">
        <icon density="mdpi" src="res/mipmap-mdpi/ic_flower.png" />
        <icon density="hdpi" src="res/mipmap-hdpi/ic_flower.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/ic_flower.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/ic_flower.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/ic_flower.png" />
    </platform>
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
